<div class="row">
    <div class="col-md-12">
        <h2>Live Cam View</h2>

        <video src="/api/video/c1" autoplay preload>
            Your browser does not support the
            <code>video</code> element.
        </video>

        <img src="/api/camera/c1"/>
    </div>
</div>
